*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: lightblue; */
    background-image: url(https://images.pexels.com/photos/33916730/pexels-photo-33916730.jpeg);
    background-size: cover;
    background-position: center;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    color: white;
}

#nav h2{
    font-size: 30px;
    font-weight: 800;
}

#nav i{
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}

#full{
    height: 100%;
    width: 40%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    top:0;
    right: -40%;
    backdrop-filter: blur(10px);
    padding: 150px 50px;

}

#full h4{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 5px;
}

#full i{
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
}